@import "./variables";
@import "./reset";

@import "./typography";
@import "./header";
@import "./footer";



@media (min-width: $mobile_width) {}

@media (min-width: $tablet_width) {}

@media (min-width: 1200px) {}

body {
    font: normal 62.5% $font_stack;
    background: white;
    position: relative;
    color: $font_color;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

article {
    position: relative;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: top;
    flex-direction: column;
    margin: 0;

    &.columns_reversed {
        flex-direction: row-reverse;



    }

    @media (min-width: $mobile_width) {
        flex-wrap: nowrap;
        flex-direction: row;

    }
}

.column {
    flex: 1 auto 0;
    width: 100%;
    padding: 0;

    @media (min-width: $mobile_width) {
        padding: 0 $padding;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }

    &.large_column,
    &.large_column {
        @media (min-width: $mobile_width) {
            width: 60%;
        }
    }

    &.small_column,
    &.column_small {
        @media (min-width: $mobile_width) {
            width: 40%;
        }
    }
}


.hide_on_mobile {
    display: none;
}



@media (min-width: $mobile_width) {
    .show_on_mobile {
        display: none;

    }

    .hide_on_mobile {
        display: block;
    }


}


.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}



section {
    padding: 80px 0;
}





#welcome_section {
    background-color: $black;
    color: $white;
    min-height: 700px;
    position: relative;
    overflow: hidden;


    .welcome_text {

        position: relative;
        z-index: 2;

        @media (min-width: $mobile_width) {
            padding-left: 300px;
        }

        h1 {
            font-size: 6em;
        }

        p {
            max-width: 600px;
        }
    }

    ul.welcome_buttons {

        margin: 0;
        position: relative;
        z-index: 2;

        @media (min-width: $mobile_width) {
            padding: 0 0 0 600px;
        }

        li {

            margin: 0 0 $padding;
            position: relative;
            padding: 0;

            a {
                background-color: $yellow;
                display: block;
                color: $black;
                text-decoration: none;
                padding: $padding 60px;
                border-radius: 3px;

                &:hover,
                &:focus {
                    transform: scale(1.07);
                }

                strong {
                    display: block;
                    font-size: 1.5em;
                    text-transform: uppercase;
                }

                span {
                    display: block;
                }
            }

            &:nth-child(1) {
                right: 60px;
            }

            &:nth-child(2) {
                right: 30px;

                a {
                    background-color: $orange;
                }
            }

            &:nth-child(3) {
                right: 0px;

                a {
                    background-color: $pink;
                }
            }
        }
    }

    #truck2 {
        width: 100%;
        height: 400px;


        @media (min-width: $mobile_width) {
            position: absolute;
            bottom: 0;
            left: 30px;
            width: 600px;
            height: 700px;

        }
    }
}


#path14,
#path16,
#path18 {

    stroke: #ec008c !important;
    stroke-width: 70px;
    fill: none !important;
    stroke-dasharray: 50000;
    stroke-dashoffset: 50000;
    animation: growdash 13s linear infinite;
}

#path16 {
    stroke: #f68332 !important;
    animation-delay: 2s;
}

#path18 {
    stroke: #fff200 !important;
    animation-delay: 4s;
}

@keyframes growdash {
    0% {
        stroke-dashoffset: 50000;
    }

    80% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 50000;
    }
}


$con_ren_padding: 40px;
$con_ren_height: 60px;

#concerts_and_rencontres {
    background-color: $light_grey;
    padding-bottom: 0;
    padding-top: 0;


    .column {
        padding: 0 !important;
    }

    .concert_recontre_thing {
        position: relative;

        h3 {
            font-size: 1.8em;
            padding: 0 $con_ren_padding;
            position: absolute;
            top: 0;
            height: $con_ren_height;
            line-height: $con_ren_height;
            width: 100%;
            left: 0;
            background: transparentize($yellow, 0.5);
        }

        img {
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
        }

        .button {
            margin: 0 $padding $padding 0;
        }
    }

    .concert_recontre_text {
        padding: #{$con_ren_height + $con_ren_padding} $con_ren_padding 0;
    }


    .conc_rec_image {
        background: url('https://images.ctfassets.net/bdyhigkzupmv/6lySzcy7qcIN1tf81Qkus/5b5ac73daeaf61f9057c0b0dd8447a31/hero-guitar-outro.jpg') no-repeat center center;
        background-size: cover;
        width: 100%;
        height: 500px;
    }

    #concerts_thing {}

    #recontres_thing {
        h3 {
            background: transparentize($blue, 0.5);
        }

        @media (min-width: $mobile_width) {
            .h3_offset {
                display: inline-block;
                margin-left: $con_ren_padding;
            }
        }

        .button {
            background-color: $blue;
        }
    }
}