@import "./variables";
@import "./reset";

@import "./typography";
@import "./header";
@import "./footer";



@media (min-width: $mobile_width) {}

@media (min-width: $tablet_width) {}

@media (min-width: 1200px) {}

body {
    font: normal 62.5% $font_stack;
    background: $white;
    position: relative;
    color: $font_color;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

article {
    position: relative;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: top;
    flex-direction: column;
    margin: 0;

    &.columns_reversed {
        flex-direction: row-reverse;



    }

    @media (min-width: $mobile_width) {
        flex-wrap: nowrap;
        flex-direction: row;

    }
}

.column {
    flex: 1 auto 0;
    width: 100%;
    padding: 0;

    @media (min-width: $mobile_width) {
        padding: 0 $padding;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }

    &.large_column,
    &.large_column {
        @media (min-width: $mobile_width) {
            width: 60%;
        }
    }

    &.small_column,
    &.column_small {
        @media (min-width: $mobile_width) {
            width: 40%;
        }
    }
}


.hide_on_mobile {
    display: none;
}



@media (min-width: $mobile_width) {
    .show_on_mobile {
        display: none;

    }

    .hide_on_mobile {
        display: block;
    }


}


.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}



$section_padding: 80px;

section {
    padding: $section_padding 0;

    opacity: 0;
    transform: translateY(20px);
    transition: all 1s;

    &.visible,
    &.always_visible {
        opacity: 1;
        transform: translateY(0px);
    }



    &.grey {
        background-color: $light_grey
    }

    &.white {
        background-color: $white;
    }

    &.orange {
        background-color: lighten($orange, 10);
    }
}


header#page_header {
    padding: $section_padding 0 0;
    background: url('../img/squiggles.png') no-repeat center right;
    background-size: 300px;
    background-color: $black;
    margin: 0 0 40px;

    h1 {
        color: $white;

        @media (min-width: $mobile_width) {
            text-align: left;
        }
    }

    &.background_image {
        box-shadow: 0 -20px 40px transparentize($black, 0.8) inset;
        background-position: center center;
        background-size: cover;

        h1 {
            text-shadow: 0 0 30px transparentize($font_color, 0.3), 0 0 40px transparentize($font_color, 0.3);
            text-align: center;



        }
    }
}




#welcome_section {
    background-color: $black;
    color: $white;
    min-height: 700px;
    position: relative;
    overflow: hidden;


    .welcome_text {

        position: relative;
        z-index: 2;
        padding: 0 $padding;

        @media (min-width: $mobile_width) {
            padding: 0 0 0 100px;
        }

        @media (min-width: $tablet_width) {
            padding: 0 0 0 300px;
        }

        h1 {
            font-size: 9.6em;
            line-height: 0.9em;
            transform: skewY(-5deg);
            display: inline-block;
            margin: -30px 0 0px;
            text-align: center;

            @media (min-width: $mobile_width) {
                text-align: left;
            }
        }

        p {
            max-width: 600px;
        }
    }

    ul.welcome_buttons {

        margin: 0;
        position: relative;
        z-index: 20;
        padding: 0 $padding;

        @media (min-width: $mobile_width) {
            padding: 0 100px;
        }

        @media (min-width: $tablet_width) {
            padding: 0 100px 0 650px;
        }

        li {
            list-style: none;

            margin: 0 0 $padding;
            position: relative;
            padding: 0;
            animation: bloopIn 1s forwards ease-in-out;
            opacity: 0;

            a {
                background-color: $yellow;
                display: block;
                color: $black;
                text-decoration: none;
                padding: $padding 60px;
                border-radius: 3px 23px 3px 23px;

                &:hover,
                &:focus {
                    transform: scale(1.07);
                }

                strong {
                    display: block;
                    font-size: 1.5em;
                    text-transform: uppercase;
                }

                span {
                    display: block;
                }
            }

            &:nth-child(1) {
                animation-delay: 0.6s;

                a {}

                @media (min-width: $mobile_width) {
                    right: 60px;
                }
            }

            &:nth-child(2) {

                animation-delay: 0.9s;

                @media (min-width: $mobile_width) {
                    right: 30px;
                }

                a {

                    background-color: $orange;
                }
            }

            &:nth-child(3) {

                animation-delay: 1.1s;

                @media (min-width: $mobile_width) {
                    right: 0px;
                }

                a {

                    background-color: $pink;
                }
            }
        }
    }

    #truck2 {
        width: 100%;
        height: 400px;



        @media (min-width: $mobile_width) {}

        @media (min-width: $tablet_width) {
            position: absolute;
            bottom: 0;
            left: 30px;
            width: 600px;
            height: 700px;
            z-index: 2;
        }
    }
}


#path14,
#path16,
#path18 {

    stroke: $pink !important;
    stroke-width: 70px;
    fill: none !important;
    stroke-dasharray: 50000;
    stroke-dashoffset: 50000;
    animation: growdash 13s linear infinite;
}

#path16 {
    stroke: $orange !important;
    animation-delay: 2s;
}

#path18 {
    stroke: $yellow !important;
    animation-delay: 4s;
}


#jazz_canvas {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    // animation: fadeIn 2s forwards;
    // animation-delay: 1s;
    // opacity: 0;
}


.boid {
    opacity: 0.4;
    text-align: center;
    color: $pink;
    display: inline-block;
    position: absolute;
    top: 0;
    font-size: 65px;
    left: 0;
    will-change: transform;
}

.boid:nth-child(2n) {
    color: $blue;
    font-size: 35px;
}

.boid:nth-child(3n) {
    color: $orange;
    font-size: 45px;
    opacity: 0.7;
}

.boid:nth-child(4n) {
    color: $yellow;
    font-size: 35px;
    opacity: 0.5;
}

#who_are_we {
    background: url('../img/swoosh.svg') no-repeat top left;
    background-size: cover;

    h2 {
        font-size: 5em;
    }
}

$con_ren_padding: 40px;
$con_ren_height: 60px;

#concerts_and_rencontres {
    background-color: $light_grey;
    padding-bottom: 0;
    padding-top: 0;


    .column {
        padding: 0 !important;
    }

    .concert_recontre_thing {
        position: relative;

        h3 {
            font-size: 1.8em;
            padding: 0 $con_ren_padding;
            position: absolute;
            top: 0;
            height: $con_ren_height;
            line-height: $con_ren_height;
            width: 100%;
            left: 0;
            background: transparentize($yellow, 0.5);
        }

        img {
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
        }

        .button,
        h6 a {
            margin: 0 $padding $padding 0;

        }
    }

    .concert_recontre_text {
        padding: #{$con_ren_height + $con_ren_padding} $con_ren_padding 0;
    }


    .conc_rec_image {
        background: url('https://images.ctfassets.net/bdyhigkzupmv/6lySzcy7qcIN1tf81Qkus/5b5ac73daeaf61f9057c0b0dd8447a31/hero-guitar-outro.jpg') no-repeat center center;
        background-size: cover;
        width: 100%;
        height: 500px;
    }

    #concerts_thing {}

    #recontres_thing {
        h3 {
            background: transparentize($blue, 0.5);
        }

        @media (min-width: $mobile_width) {
            .h3_offset {
                display: inline-block;
                margin-left: $con_ren_padding;
            }
        }

        .button {
            background-color: $blue;
        }
    }
}



#map_container {
    height: 400px;
    background-color: $light_grey;
    margin: 0;

    &.map_container_large {
        height: 600px;
    }
}

// EVENTS
// EVENTS

.event_subtitle {
    font-size: 2em;
    font-weight: normal;
    margin-top: $negative_padding;
    font-style: italic;
}

.event_datetime_container {
    margin: 0 0 $padding;
    display: flex;
    flex-wrap: nowrap;
}

.event_date_container {
    background-color: $light_grey;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    width: 80px;
    min-width: 80px;

}

.month {
    font-size: 1.5em;
    font-weight: bold;
    padding: 8px 0;
    letter-spacing: 2px;
    background-color: darken($light_grey, 10);
}

.day {
    font-size: 3.3em;
    padding: 5px 0 10px 0;
}

.event_time_container {
    background-color: lighten($light_grey, 5);
    padding: 5px 5px 5px 10px;
    width: 100%;

    p {
        padding: 0;
    }

    .lineup {
        font-size: 90%;
        margin-top: 5px;
    }

    .time {
        font-size: 1.2em;
    }
}

.social_links {

    margin: 5px 0 30px;

    a {
        $social_size: 35px;
        display: inline-block;
        height: $social_size;
        width: $social_size;
        background: no-repeat center center $medium_grey;
        background-size: #{$social_size * 0.7};
        margin: 0 5px 5px 0;

        border-radius: 5px;
        position: relative;

        span {
            display: inline-block;
            padding: 5px 8px;
            background-color: inherit;
            color: white;
            border-radius: 0 3px 3px 3px;
            position: absolute;
            z-index: 100;
            top: 26px;
            left: 0px;
            opacity: 0;
            transition: all 0.3s;

            font-size: 12px;

        }

        &:hover {
            transform: scale(1.3);
            z-index: 99;


            span {

                opacity: 1;
            }
        }


        &.website {
            background-image: url('../img/social/website.svg');
            background-size: 15px;
        }

        &.facebook {
            background-color: #1877F2;
            background-image: url('../img/social/facebook.svg');
        }

        &.twitter {
            background-color: #1DA1F2;
            background-image: url('../img/social/twitter.svg');
        }

        &.instagram {
            background-color: #E4405F;
            background-image: url('../img/social/instagram.svg');
        }

        &.spotify {
            background-color: #1db954;
            background-image: url('../img/social/spotify.svg');
            background-size: 15px;
        }

        &.youtube {
            background-color: #CD201F;
            background-image: url('../img/social/youtube.svg');
        }
    }
}



.event_summary {
    // background-color: $light_grey;
    // padding: $padding;
    margin: 0 0 30px;

    h2 {
        font-size: 2.4em;


        a {
            color: $font_color;
            text-decoration: none;
        }
    }

    .category {
        font-style: italic;
        color: $dark_grey;
        margin: -20px 0 10px;
    }
}






#search_concerts_form {
    background-color: lighten($light_grey, 5);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


    .button_group {
        margin: 0;

        a {
            background-color: $orange;
        }
    }

    input {
        width: 200px
    }
}


.concert_location_box {
    margin-bottom: 40px;
    margin-top: 20px;
}

.concert_box {
    transition: all 0.3s;

    h4 {
        font-size: $font_size;
        padding: 0;
        margin: 0;
        background: no-repeat center center $light_grey;
        background-size: cover;
        border-radius: 5px;

        a {
            margin: 0 0 5px;
            display: block;
            text-decoration: none;
            min-height: 180px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            span {
                padding: 5px;
                display: inline-block;
                background-color: transparentize($font_color, 0.5);
                color: $white;
                position: absolute;
                bottom: 0;
                left: 0;
                text-align: left;

            }
        }
    }
}




#concert_grid {
    text-align: center;
    position: relative;


    .hidden {
        // opacity: 0.2;
        display: none;
        // transform: scale(0.8)
    }

    &.jeune_concert_grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .concert_location_box {
            flex: 1 auto;
            width: calc(33% - 20px);
            min-width: calc(33% - 20px);
            max-width: calc(33% - 20px);
            margin: 10px;
        }
    }



    h2 {
        font-size: 3em;
        margin: 0;
        position: sticky;
        top: 0px;
        background: white;
        padding: 20px 10px;
        z-index: 100;
        margin-bottom: -20px;

    }

    h3 {
        background-color: $blue;
        color: white;
        margin: 0 0 5px;
        padding: 10px;
        font-size: 1.6em;
    }

}


// EVENTS
// EVENTS


a.post-edit-link {
    font-size: $font_size;
    margin: 0 0 $padding;
    display: inline-block;
    color: $medium_grey;
}




section.section_partners {
    padding: 50px 0;

    &:nth-child(odd) {
        background: $light_grey;
    }

    h2 {
        position: relative;
        font-size: 2.5em;


    }

    .partner {
        display: inline-block;
        margin: 0 50px 30px 0;
        width: 100px;
        vertical-align: top;

        a {
            display: block;
        }
    }

    .partner_picture {
        // padding: 50%;
        width: 100px;
        height: 100px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0 0px 20px 0;
        background-color: white;
        border: solid 9px white;
        box-sizing: border-box;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
        transition: all ease-in-out 0.2s;

        &:hover {
            transform: scale(1.1);
        }
    }

    .partner_description {
        text-align: center;
        font-weight: bold;
        color: $orange;
    }
}




// WOOCOMMERCE
// WOOCOMMERCE
ul.wc_payment_methods {
    li {
        list-style: none;

        p {
            font-size: 1em;
            padding: 0;
        }
    }
}

.select2-container .select2-selection--single {
    height: 46px;

}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 46px;
}


.woocommerce-message {
    font-size: $font_size;

    a.button {
        background-color: $blue;
    }
}


nav.woocommerce-MyAccount-navigation {
    ul {
        li {
            list-style: none;

            padding: 9px;
            background: #f1f1f1;
            margin: 0 0 3px;

            a {
                text-decoration: none;
            }
        }
    }
}


.woocommerce ul.order_details {
    padding: $padding;

    background-color: $light_grey;

    li {
        font-size: $font_size;
    }
}


.woocommerce {
    p {
        input {
            font-size: 1em;
        }
    }
}

#order_review_heading {
    margin-top: $padding;
}

td.actions,
.woocommerce-tabs,
.product_meta {
    display: none;
}

#add_payment_method .wc-proceed-to-checkout a.checkout-button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {
    background-color: $blue;
    font-size: $font_size;
}


.woocommerce div.product p.price,
.woocommerce div.product span.price {
    font-size: 3.26em;
}

// WOOCOMMERCE
// WOOCOMMERCE



.participant_containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;

}

.participant_container {
    flex: 1;
    text-align: left;
    width: calc(33% - 20px);
    min-width: calc(33% - 20px);
    max-width: calc(33% - 20px);
    background-color: $light_grey;
    margin: 10px;
    display: flex;
    border-radius: 5px;
    flex-wrap: wrap;

    .participant_image {
        width: 100px;
        background: no-repeat center center darken($light_grey, 10);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        position: relative;
        overflow: hidden;

        background-size: cover;

        // &:before,
        // &:after {
        //     content: '';
        //     width: 60px;
        //     height: 60px;
        //     border-radius: 50%;
        //     top: 20px;
        //     left: 20px;
        //     background-color: darken($light_grey, 15);
        //     position: absolute;
        // }

        // &:after {
        //     width: 120px;
        //     height: 150px;
        //     top: 85px;
        //     left: -10px;
        // }
    }

    .participant_text {
        padding: 10px;

        h3 {
            padding: 0 0 5px;
            font-size: 2.7em;
        }

        p {
            padding: 0;
        }
    }




}