h1,
h2,
h3,
h4 {

  line-height: 120%;
  word-break: break-word;

  @media (min-width: $mobile_width) {
    word-break: normal;
  }
}

h1 {
  font-size: 5em;
  padding: 0 0 30px;
  font-weight: bold;

  @media (min-width: $mobile_width) {}
}

h2 {
  font-size: 3.3em;
  padding: 0 0 $padding;
  font-weight: bold;

  @media (min-width: $mobile_width) {}
}

h3 {
  font-size: 2.5em;
  padding: 0 0 20px;
  font-weight: normal;

  @media (min-width: $mobile_width) {
    font-size: 3em;
  }
}

h4 {
  font-size: 2em;
  padding: 0 0 20px;
  text-transform: uppercase;
}

h5,
h6 {
  font-size: 1em;
  font-weight: normal;
  padding: 0;
  margin: 0;
}



p {
  font-size: $font_size;
  line-height: 160%;
  padding: 0 0 30px;
  margin: 0;
}

li {
  font-size: $font_size;
  padding: 0 0 5px;
  line-height: 160%;
}

dd,
dt {
  font-size: $font_size;
  padding: 0 0 5px;
}

dt {
  font-weight: bold;
}

a {
  text-decoration: underline;
  border: 0;
  color: darken($brand_color, 20);
  transition: all 0.3s;

  &:link,
  &:active,
  &:visited {
    color: darken($brand_color, 20);
  }

  &:hover {
    color: darken($brand_color, 20);
  }



  &.button_large {
    font-size: #{$font_size * 1.2};
    padding: 15px 60px;
    text-transform: uppercase;
  }

  &.button_primary {
    background-color: $brand_color;
    color: $font_color;
    text-shadow: 0 1px 0px transparentize($white, 0.3);

    &:visited,
    &:link,
    &:active {
      color: $font_color;
    }
  }

  &.button_yellow {
    background-color: $yellow;
    color: $font_color;
    text-shadow: 0 1px 0px transparentize($white, 0.3);

    &:visited,
    &:link,
    &:active {
      color: $font_color;
    }
  }


}

h6 a,
h5 a,
a.button,
input.button,
button,
.woocommerce button.button {
  border: 0;
  transition: all 0.3s;
  color: $white;
  background-color: $blue;
  display: inline-block;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  font-size: $font_size;
  margin: 0 0 20px;
  font-weight: bold;
  border-radius: 400px;
  box-shadow: 0 3px 6px transparentize($medium_grey, 0.88);
  text-shadow: 0 1px 0px transparentize($font_color, 0.3);


  &:visited,
  &:link {
    color: white;
  }

  &:hover,
  &:focus {
    transform: scale(1.07);
    box-shadow: 0 10px 20px transparentize($medium_grey, 0.7);
  }

  &.button_block {
    display: block;
    border-radius: 5px;
  }
}


.button_group {
  margin: 0 0 $padding;
  // display: flex;
  // justify-content: center;

  a {
    border-radius: 0;
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;

    &:first-child {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    &:last-child {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }


}


ul {
  padding: 0 0 $padding $padding;

  li {
    list-style: disc;
  }
}

ol {
  padding: 0 0 $padding $padding;

  li {
    list-style: decimal
  }
}

.alert {
  padding: $padding;
  margin: 0 0 $padding;
  border: 1px solid $blue;
  background: lighten($blue, 30);
  border-radius: 5px;

  &.alert_success {
    background-color: lighten($green, 30);
    color: $green;
    border-color: $green;
  }

  &.alert_problem {
    background-color: lighten($red, 30);
    color: $red;
    border-color: $red;
  }
}


strong,
b {
  font-weight: bold;
}

em,
i {
  font-style: italic;
}

table {
  margin: 10px 0 30px;
  width: 100%;

  th,
  td {
    padding: 8px;
    font-size: $font_size;
  }

  th {
    font-weight: bold;
    text-align: left;
    color: $brand_color;
  }

  tr:nth-child(2n-1) {
    td {
      background-color: lighten($brand_color, 52);
    }
  }
}

select {
  font-size: $font_size;
  padding: 10px;

  &:focus {
    box-shadow: 0 0 10px $brand_color;
  }
}


.field {
  margin: 0 0 $padding;
}

input {
  font-family: $font_stack;
  padding: 10px;
  font-size: $font_size;
}

label {
  font-size: $font_size;
  padding: 4px;
  display: block;
}

label.inline_label {
  display: inline-block;
  position: relative;


  input[type="radio"] {
    display: inline-block;
    position: absolute;
    right: 0;
  }
}


hr {
  appearance: none;
  border: 0;
  border-bottom: 3px solid black;
  margin: 0px 0 30px 0;
  padding: 0;
  width: 30px;

  &.hr_yellow {
    border-bottom-color: $yellow;
  }

  &.hr_black {
    border-bottom-color: $black;
  }
}

cite {
  color: $medium_grey;
  font-size: #{$font_size * 0.8};
}


iframe {
  width: 100%;
  height: auto;
  min-height: 300px;
  margin: 0 0 20px;
}

.payment_method_stripe {
  iframe {
    min-height: unset;
  }
}

img {
  width: 100%;
  height: auto;
  margin: 0 0 20px;
  border-radius: 3px;
}