$yellow: #ffff00;
$pink: #f0047f;
$orange: #fe7d23;
$blue: #019abe;

$brand_color: $orange;



$black: scale-color($brand_color, $lightness: -90%, $saturation: -93%);
$dark_grey: scale-color($brand_color, $lightness: -60%, $saturation: -93%);
$medium_grey: scale-color($brand_color, $lightness: 0%, $saturation: -88%);
$light_grey: scale-color($brand_color, $lightness: 74%, $saturation: -88%);

$white: scale-color($brand_color, $lightness: 93%, $saturation: -88%);

$font_color:$black;



$font_stack: "Dosis",
Roboto,
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Helvetica,
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol";


$font_size: 1.65em;


$border_radius: 10px;

$transition_time: 0.3s;

$mobile_width: 768px;
$tablet_width: 992px;

$padding: 20px;
$half_padding: #{$padding * 0.5};
$negative_padding: #{$padding * -1};
$negative_half_padding: #{$padding * -0.5};

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes bloopIn {
  from {
    opacity: 0;
    transform: rotate(-10deg) translateX(20px) translateY(30px);

  }

  to {
    opacity: 1;
    transform: rotate(0deg) translateX(0px) translateY(0px);
  }
}

@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction),
      $color-stops);
  background: linear-gradient($direction, $color-stops);
}



@keyframes growdash {
  0% {
    stroke-dashoffset: 50000;
  }

  80% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: 50000;
  }
}